/*
Reset
Base
Utilities
Layout (2-col, menus, write tweet, alert messages, page-specific)
Module (buttons, tweets-dm-follow, modals)
State
Theme
Media queries (except for 2-col)
*/

/* Reset  **************************************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
text-decoration-skip-ink:auto;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

ins {
font-style:italic;
text-decoration:none;
}

del {
text-decoration: line-through;
}

abbr[title],
dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/* Base   **************************************************/

body {
	text-align:center; /* Required for pesky IE */
	margin-top: 6px;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

input[type="text"],
textarea {
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	clear: left;
    margin-top: 0.5rem;
    padding: .5rem 1rem;
	font-size: 1.8rem;
    background-color: #eee;
    border-color: #eee;
}
h2 {
	font-size: 1.75rem;
	padding: 1rem 0 .5rem;
	font-weight: normal;
}
h2.marginAdjustment {
	margin-left: 1rem;
}
p.marginAdjustment {
	margin: .5rem 0 0 1rem;
}
h3 {
	font-size: 1.15rem;
	padding: 1rem 0 .5rem;
	line-height: 1.35em;
}
h4 {
	font-size: 1rem;
	padding: 1rem 0 .5rem;
}
p, td, dd, li, q {
	line-height: 1.5rem;
	margin-bottom: .5rem;
}
dd, li {
	margin-left: 1.5rem;
}

.content ul {
	list-style: none;
}
.content ul li {
	padding-left: 1em;
	margin-left: .5em;
	background: url(/images/bullet1.gif) no-repeat 0 .45em;
}
h2 + ul {
	margin-top: .3rem;
}
ul.ul-more-info li {
	background: none;
}

.smallText {
	font-size: .85rem;
}
.notes {
	margin-bottom:0;
	line-height: 1.2rem;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	background-color: #A1D5F9;
}

.rounded {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
}

.box1 blockquote {
	margin: .5em 0 1.25em;
	padding: .25em 1.75em;
	line-height: 1.45;
	position: relative;
	max-width: 50em;
}
.box1 blockquote:before {
	color: #919191;
	display: block;
	content: "\201C";
	font-size: 3em;
	position: absolute;
	left: 0;
	top: -.1em;
}
.box1 blockquote p {
	margin-bottom: 0;
}
.box1 blockquote div {
	font-style: italic;
	text-align: right;
}
blockquote cite:before {
content: "\2014 \2009";
}

/* tables */
table {
	margin: 1em 0 0 .15em;
	border: #ccc 1px solid;
	font-size: 95%;
}
td, th {
	padding: .5em;
	border: #ccc 1px solid;
}
th {
	font-weight:bold;
	text-align: left;
}

input[type=text],input[type=file],textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: 1px solid #0487E0;
	font-size: 1.1rem;
	padding: .25rem;
	margin: .25rem 0;
}
button:focus,
textarea:focus,
input[type='file']:focus,
input[type='text']:focus {
	border-color: #fc6;
	outline: none;
}

#frmUrlShort fieldset {
	margin-top: .5em;
}
#frmUrlShort fieldset,
#frmTweetImage fieldset {
	border: #ddd 1px solid;
	border-left-width: 5px;
	border-left-color: #eee;
	padding: 1em;
}
#frmUrlShort legend,
#frmTweetImage legend {
	font-weight: bold;
}

kbd {
    padding: .1em .4em;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}

/* Utilities ************************************************/

.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
#main .content .no-margin{margin:0;}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.hide {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px) !important;
-webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
white-space: nowrap !important;
overflow: hidden !important;
}

.ar{text-align:right;}
.ac{text-align:center;}

@keyframes FadeIn {
  from { opacity:0; } to { opacity:1; }
}

/* Layout **************************************************/

#wrapper {
	margin: 0 auto 2rem;
	width: 99%;
	max-width: 1100px;
	text-align:left; /* Overrides the previously set center alignment that older IE versions reqd */
}

#skip {
	margin-bottom: 10px;
}

header > div {
	margin: 10px 0 0;
}

#welcome {
	float: right;
	margin-top: -138px;
}

#welcome p {
	line-height: 1.4rem;
	margin-bottom: 0;
	text-align: right;
}

.content {
	clear: both;
	padding-top: .1rem;
}

footer {
	clear: left;
	padding-top: 3rem;
}

.box1 {
	border: 2px solid #a1d5f9;
	padding: 0 1rem .5rem;
	margin: 1rem 0;
}

#top-pull-link {
	text-align: right;
	margin: -2.1rem 0 .75rem;
	padding-right: 1rem;
}

/* 2-column layout (based off Yahoo's Pure) */
.p-row {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.p-row {
	word-spacing: -0.43em;
}

.p-col {
	display: inline-block;
	zoom: 1; *display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.p-col-1,.p-col-1-2 {
	display: inline-block;
	zoom: 1; *display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.p-col-1 {
	display:block;
}

.p-col-1-2 {
	width: 50%;
}

.p-col-1-2:last-child .box1 {
	margin-left: .75em;
}

.p-offset-1-2 {
	margin-left: 50%;
}

.p-row-r {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	word-spacing: -0.43em;
}

.opera-only :-o-prefocus,
.p-row-r {
	word-spacing: -0.43em;
}

.p-row-r img {
	max-width: 100%;
}

div.msgBox {
	border: 2px solid #a1d5f9;
	padding: .25rem .75rem;
	margin-bottom: .5rem;
}
div.msgBoxPos,
div.msgBoxNeg {
	font-size: 1.25rem;
	text-align: center;
	border: 2px solid #a1d5f9;
	/*background: #fff url(../../images/icon_check3.gif) no-repeat 5px 2px;*/
	padding: 1rem;
	margin-top: .5rem;
}
div.msgBoxNeg {
	border-color: #c30;
	background: #fff url(../../images/icon_x2.gif) no-repeat 9px 2px;
}

@media (max-width:480px) {
	.p-row-r > [class ^= "p-col"] {
		width:100%;
	}
	.p-col-1-2:last-child .box1 {
		margin-left: 0;
	}
}

@media (max-width:767px) {
	.p-row-r > [class ^= "p-col"] {
		width:100%;
	}
	.p-visible-phone     { }
	.p-hidden-phone      { display: none; }
	.p-hidden-desktop    { }
	.p-visible-desktop   { display: none; }

	.p-col-1-2:last-child .box1 {
		margin-left: 0;
	}
}

.load-more {
	padding: .5rem 1rem .5rem;
	text-align: center;
}
.load-more a {
	display: block;
	padding: .5rem .3rem .35rem;
}
.load-more-1-line a {
	display: inline-block;
}

/* app menu */
#navMain {
	list-style: none;
	float: left;
	clear: left;
}
#navMain li {
	float: left;
	margin: .1rem 0;
	line-height: 1.25rem;
}
#navMain li a {
	float: left;
	padding: .25rem .5rem;
	margin-right: .25rem;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#navMain li a:hover,
#navMain li a:focus {
	background-color:#a1d5f9;
}
#navMain > .nav-item > a.current {
	background-color: #a1d5f9;
	text-decoration: none;
}
#navMain li #m_home {
	padding-bottom: 0;
	text-decoration: none;
	color: #444;
}

/* tweet menu */
#navTweet {
	margin-top: .2rem;
	padding: .25rem 0 .5rem;
	list-style: none;
	clear: both;
}
#navTweet li {
	float: left;
	position: relative;
	margin: .15rem 0;
}
#navMain li li a,
#navTweet li a {
	float: left;
	text-decoration: none;
	padding: .5rem .5rem .3rem;
	margin-right: .75rem;
	font-weight: bold;
	border: 1px solid #333;
	background-color: #fff;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#navMain li li a {
	padding: .6rem .5rem .4rem;
}
#navTweet li a:hover,
#navTweet li a:focus {
	color: #333;
	border-color: #a1d5f9;
	background-color: #a1d5f9;
}
#navTweet > li > a.current {
	color: #333;
	border-color: #a1d5f9;
	background-color: #a1d5f9;
}
#navMain li a:active,
#navTweet li a:active {
	background-color: #fc6;
}
#navMain a[aria-owns],
#navTweet a[aria-owns] {
	position: relative;
	padding-right: 1rem;
}
#navMain a[aria-owns]:after,
#navTweet a[aria-owns]:after {
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;

	right: 2px;
	bottom: 2px;

	border: 10px solid transparent; /* arrow size */
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #222;
}
#navMain a[aria-owns]:after {
	bottom: 0;
}

#political_filter {
	width: 100%;
	font-size: .9rem;
	color: #666;
	background-color: #f5f5f5;
	text-align: center;
	margin: 0 0 .5rem;
}

/* MEGA MENU by Adobe **********************************************/
.sub-nav-group {
	display: none;
	position: absolute;
	clear: left;
	top: 2.25rem;
	width: 10rem;
	z-index: 1;
}
#navMain .sub-nav-group {
	top: 1.5em;
}
.sub-nav-group li {
	clear: left;
	float: left;
}
.sub-nav-group li:first-child {
    padding-top: 0.5rem;
}
/* mega menu list */
.nav-menu {
	display: block;
	position: relative;
	list-style: none;
	z-index: 2;
}
#navMain.nav-menu {
	z-index: 3;
}
/* a top level navigation item in the mega menu */
.nav-item {
	list-style: none;
	display: inline-block;
}
/* first descendant link within a top level navigation item */
.nav-item > a {
	position: relative;
	display: inline-block;
	padding: 0.5em;
	margin: 0 0 -1px 0;
	border: 1px solid transparent;
}
/* open state of first descendant link within a top level navigation item */
.nav-item > a.open {
	border-bottom: none;
	z-index: 1;
}
/* sub-navigation panel */
.sub-nav {
	position: absolute;
	display: none;
	top: 2.6em;
	margin-top: -1px;
}
/* sub-navigation panel open state */
.sub-nav.open {
	display: block;
}
/* list of items within sub-navigation panel */
.sub-nav ul {
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 0;
	padding: 0;
}
/* list item within sub-navigation panel */
.sub-nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* write tweet */
#enterTweet {
	border: 2px solid #a1d5f9; /*#0487E0*/;
	padding: .5rem 1rem;
	margin: 1rem 0;
}
.js #enterTweet #enterTweetContent {
	display: none;
}
.js #enterTweet.single #enterTweetContent {
	display: block;
}
#enterTweet h2 {
	font-size: 1.15rem;
	padding-top: 0;
}
.js #enterTweet h2 {
	padding-bottom: 0;
}
#enterTweet h2 a {
	text-decoration: none;
	padding: 5px;
	display: block;
}
#enterTweet h2 span {
	padding-right: .5rem;
}
#enterTweet h2 a:hover,
#enterTweet h2 a:focus {
	background-color: #A1D5F9;
}
#frmSubmitTweet textarea {
	float: left;
	margin-right: 1rem;
	width: 80%;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
#enterTweet h3 {
    font-size: 1rem;
    padding: .8rem 0 .3rem;
}
#charlimit {
	margin: .5rem 0;
}
#frmUrlShort {
	margin-bottom: .8rem;
}
/*#urlService {
	margin: 0 .75rem;
}*/

/* alert messages */
div.msgBoxPos,
div.msgBoxNeg {
	border: 2px solid #0388e5;
	padding: .5rem;
	margin-bottom: .5rem;
	display: block;
}
div.msgBoxNeg {
	border-color: #c30;
}
.msgBoxPos h2,
.msgBoxNeg h2 {
	padding: .3rem 0 .3rem 40px;
}
.msgBoxPos p,
.msgBoxNeg p {
	margin-left: 40px;
}

/* page-specific */

#homeECtweets li {
	line-height: 1.25rem;
	margin-bottom: .75rem;
}
#frmProfileEdit dt,
.twListDtAdj {
	padding-top: .4rem;
}
#profile {
	margin: .5rem 0 1rem;
}
#profile dt,
.twList dt {
	width: 30%;
	text-align: right;
	float: left;
	clear: left;
	margin-top: .5rem;
	margin-right: .5rem;
	line-height: 1.2rem;
}
.twList .listed dt {
	margin-top: 0;
	line-height: 1rem;
}
#profile dt:after,
.twList dt:after {
	content:':';
}
#profile dd,
.twList dd {
	float: left;
	width: 65%;
	margin-top: .5rem;
	margin-left: 0;
	line-height: 1.2rem;
}
.twList .listed dd {
	margin-top: 0;
	line-height: 1rem;
}
#editProfileUpdateBtn {
	margin-left: 30%;
}
.editProfile #url,
.editProfile textarea {
	width: 99%;
}
.editProfile #name,
.editProfile #location {
	width: 60%;
}
.article_mentions dt {
	margin: 1.2rem 0 .25rem 0;
	line-height: 1.25rem;
}
.article_mentions dd {
	line-height: 1.25rem;
	margin-bottom: .25rem;
}

#userAvatar a {
	display: block;
	height: 48px;
	padding: .25rem;
	margin-top: .5rem;
	width: 48px;
}

#createList {
	margin-top: .5rem;
}
#createList legend {
	padding: .2rem 0 .5rem;
}
#createList div.row {
	margin: .5rem 0;
}
#createList div.row span {
	display: block;
	margin: .25rem 0;
	font-size: .9rem;
}
#createList fieldset div.row label {
	font-weight: normal;
}
#createList label,
#createList legend {
	font-weight: bold;
}
#createList fieldset label,
#createList legend span {
	font-weight: normal;
}

a.delete-search {
	margin-left: .5rem;
	text-decoration: none;
}
a.delete-link {
	text-decoration: none;
}

#enterTweep {
	float: left;
	padding: .3em 0 0;
}

#txtEnterTweet,
#txtDirectMessage {
	height: 3.3rem;
	min-height: 3.3rem;
	margin-right: .7rem;
	line-height: 1.6rem;
	overflow: auto;
	width: 70%;
	float: left;
}

#urlLong {
	width: 40%;
}

#frmTweetImage label {
	display: block;
	margin-top: .5em;
}
#frmTweetImage input,
#frmTweetImage textarea {
	width: 70%;
}
#imgUploadMessage {
	display: inline-block;
	margin-right: 1em;
}
#btnSubmitImage[disabled],
#btnSubmitImage[disabled]:hover {
	border-color: #999;
}

/* Module **************************************************/

/* Buttons */
button {
	border: 2px solid #0487E0;
	font-weight: bold;
	font-size: 1rem;
	margin: .5rem .5rem .5rem 0;
	padding: .4rem .9rem;
	background-color: #fff;
	cursor: pointer;

	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
}
.btnPost {
	font-size: 1.5rem;
	padding: .9rem .7rem .7rem;
	margin-top: .2rem;
}
.btnSmall {
	margin: 0;
	padding: .2rem .4rem;
	border-width: 1px;
	font-weight: normal;
}
button[type='reset'] {
	border: 1px #aaa solid;
	font-weight: normal;
}
button:hover, button:focus,
.btnPost:hover, .btnPost:focus {
	border-color: #fc6;
}
.btnSecondary {
	border-width: 1px;
	font-weight: normal;
	font-size: .9rem;
	padding: .3rem .7rem;
}
.btnSecondary[aria-expanded=false] span:before {
	content: "+ ";
}
.btnSecondary[aria-expanded=true] span:before {
	content: "- ";
}
.imageDesc {
	border: 1px solid #ccc;/*#0487E0*/
	font-weight: normal;
	font-size: .95rem;
	padding: .3rem .7rem;
	margin: -.3em .5rem .5rem 0;

	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
}
.imageDesc p {
	margin-bottom: .1rem;
}
.js .imageDesc {
	display: none;
}

/* Tweets, DMs, Follow */
.tweet,
.tweet h3,
.tweet h4 {
	clear: left;
}
.tweet h3 {
	padding: 0;
}
.tweet {
	border: 2px solid #a1d5f9;
	padding: .5rem .5rem .5rem 70px;
	margin-bottom: 1rem;
}
.tweet > img {
	float: left;
	padding: .25rem .5rem .25rem 0;
	margin-left: -60px;
}
.tweet .imgThumb {
	clear: left;
}
.tweet .imgThumb img {
	max-height: 260px;
}
.tweet.dm {
	padding-left: 150px;
	margin: 1rem 0;
}
.tweet.respond {
	margin-left: 2rem;
}
.tweet.respond .btnOptions {
	display: none;
}
.tweet.respond:focus {
	border-color: #0487E0;
	animation: FadeIn ease-in 0.5s;
}
.tweet .fave {
	float: right;
	margin-right: -.3em;
	margin-top: -.25em;
	color: #939393;
	font-size: 1.4em;
}
.tweet .vidLink {
	margin: .5em 0;
}
.dm .dmAvatars {
	height: 30px;
	float: left;
	margin-left: -140px;
	margin-top: 3px;
}
.dm .btn,
.li-mem-del a {
	text-decoration: none;
	padding: .35rem;
	margin: .25rem .35rem 0 0;
}
.li-mem-del {
	float: right;
	margin-top: -1.5rem;
}
.dm .dmActions {
	margin: .9em 0 .5em;
}
#dm-label-tweep {
	float: left;
	margin-right: .5em;
}
.tweet .tweetAvatar,
.follow .tweetAvatar {
	width: 48px;
	height: 48px;
	float: left;
	margin-left: -62px;
	margin-top: 3px;
	background: no-repeat top;
}
.follow {
	padding: .5rem .5rem .5rem 74px;
}
.follow h2 {
	padding: .1rem 0 .5rem;
}
.tweet q {
	display: block;
	font-size: 1.35rem;
	line-height: 1.7rem;
	margin: 0 0 .5em;
	overflow-wrap: break-word;
}
.no-js .tweet h3 {
	display: none;
}
.no-js .btnOptions {
	margin-top: .5rem;
}
.tweet ul {
	list-style: none;
}
.tweet li {
	float: left;
	margin: 0 .5rem .5rem 0;
}
.js .tweet li {
	margin: .5rem .5rem .75rem 0;
}
.reply {
	border-color:#ccc;
	background:url(../../images/bg_reply_big.gif) top right no-repeat;
}
.retweet {
	border-color:#ccc;
	background:url(../../images/bg_rt_big.gif) top right no-repeat;
}
.tweet.reply,
.tweet.retweet {
	padding-right: 40px;
}
.tweetSingle {
	margin: 1rem 0 -1rem;
}
.content .twtInfo li {
	background-image: none;
	margin: 0 0 1em;
}
.quotedTweet {
	border-width: 1px;
}
.quotedTweet h3 {
	margin-top: 0.5em;
}
.quotedTweet p {
	margin-top: -.5em;
	margin-bottom: 0;
}
.quotedTweet div+p {
	margin-top: 0;
}

/* tweet/user option buttons etc */
.btnOptions {
	position: relative;
	display: inline-block;
}
a.btnOptionsTweet,
a.btnOptionsUser {
    display: inline-block;
}
.btnOptions h3 {
	padding: .3rem 0;
}
.btnOptions h3 a[aria-expanded=true] {
	border-color: #000;
}
.btnOptions h3 a[aria-expanded=true] span:nth-child(2):after {
	content: " -";
}
.btnOptions h3 a[aria-expanded=false] span:nth-child(2):after {
	content: " +";
}
a.btnOptionsTweet,
a.btnOptionsUser,
.btnOptions a,
.dmActions a {
	padding: .3rem .5rem;
	border: 1px solid #ccc;
	font-size: 1rem; /* need this to set the positioning identical in webkit and FF */
	text-decoration: none;
	font-weight: normal;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.btnOptions span[aria-hidden=true]  {
    margin-right: .2em;
    vertical-align: middle;
}
/* reset from styled 'regular' lists */
.btnOptions ul li {
	background-image: none;
	padding-left: 0;
}
.js .btnOptions ul {
	display: none;
}

/* go to user */
#goUserLabel {
	margin: 0 .3em 0 0;
	display: inline-block;
}

/* modals */
#mask {
	position: absolute;
	z-index: 100;
	background-color: #666;
	display: none;
	top: 0;
	left: 0;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.modal {
	position: fixed;
	width: 60%;
	max-width: 700px;
	min-width: 200px;
	display: none;
	z-index: 101;
	padding: 25px;
	background-color: #efefef;
}
.modal .close {
	text-decoration: none;
	position: absolute;
	font-size: 2rem;
}

/* State  **************************************************/

.js .btnOptions ul.displayOptions {
	display: block;
    margin-bottom: 2.5rem;
}
.js #enterTweet #enterTweetContent.displayEnterTweet {
	display: block;
}
.alert {
	color: #c00;
}
.favorited,
.retweeted,
a.favorited:hover,
a.retweeted:hover,
a.favorited:focus,
a.retweeted:focus {
	background-color: #ff9;
}
.span-user-blocked,
.span-user-muted {
	background-color: #ff9;
}

/* Theme  **************************************************/

body.theme-default {
	background-color: #fff;
	color: #333;
}
body.theme-inverse {
	background-color: #222;
	color: #fff;
}

.theme-default a {
	color: #333;
}
.theme-inverse a {
	color: #fff;
}

.theme-inverse h1 {
	background-color: #444;
}

.theme-inverse #navMain li a.current {
	background-color: #444;
}

.theme-inverse #navTweet > li > a.current {
	color: #333;
	background-color: #ccc;
}

.theme-inverse .tweet {
	border-color: #666;
}

.theme-inverse .favorited,
.theme-inverse .retweeted {
	background-color: #777;
}

.theme-inverse #navMain li li a,
.theme-inverse #navTweet li a {
	border-color: #aaa;
	background-color: #444;
}

.theme-inverse #navMain a[aria-owns]:after,
.theme-inverse #navTweet a[aria-owns]:after {
	border-top: 5px solid #eee;
}

.theme-inverse a:hover,
.theme-inverse a:focus,
.theme-inverse a:active {
	background-color: #666;
}

.theme-inverse #navMain li a:hover,
.theme-inverse #navMain li a:focus,
.theme-inverse #navTweet li a:hover,
.theme-inverse #navTweet li a:focus {
	color: #fff;
	border-color: #666;
	background-color: #666;
}

.theme-inverse #navTweet li a[aria-haspopup=true]:after {
	border-top: 5px solid #eee;
}

.theme-inverse #enterTweet h2 a:hover,
.theme-inverse #enterTweet h2 a:focus {
	background-color: #555;
}

.theme-inverse button {
	border: 2px solid #666;
}

.theme-inverse button.btnPost,
.theme-inverse button.btnSecondary {
	color: #fff;
	background-color: #333;
	border-color: #666;
}
.theme-inverse button.btnPost:hover,
.theme-inverse button.btnPost:focus {
	border-color: #fff;
}

.theme-inverse .btnOptions h3 a[aria-expanded=true] {
	border-color: #fff;
}

.theme-inverse #enterTweet {
	border: 2px solid #666;
}

.theme-inverse .box1 {
	border-color:#666;
}

.theme-inverse .content .box1 ul li {
	list-style-type: circle;
	margin-left: 1.5rem;
	padding-left: 0;
}

.theme-inverse .modal {
	background-color: #333;
}

.theme-inverse .boxAccent {
	background-color:#333;
}
.boxAccent {
	background-color:#efefef;
}

.theme-inverse .box1 blockquote {
	background: url(/images/blockquote_inverse.png) no-repeat 0 10px;
}

.theme-inverse .reply {
	border-color:#333;
	background:url(../../images/bg_reply_big_inverse.gif) top right no-repeat;
}
.theme-inverse .retweet {
	border-color:#333;
	background:url(../../images/bg_rt_big_inverse.gif) top right no-repeat;
}

.theme-inverse input[type=text],
.theme-inverse textarea {
	border: 1px solid #666;
}
.theme-inverse button:focus,
.theme-inverse textarea:focus,
.theme-inverse input:focus {
	border-color: #999;
}

.theme-inverse #political_filter {
    color: #fff;
    background-color: #666;
}


/* tooltip */
.tooltip {
  position: absolute;
  z-index: 5;
  display: block;
  font-size: .9rem;
  font-weight: normal;
  line-height: 1.3;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=95);
  opacity: .95;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip-inner {
  max-width: 250px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

/* Media queries *******************************************/

@media only screen and (max-width: 1000px) {
	.modal span {
		display: block;
		clear: both;
	}
}

@media only screen and (max-width: 800px) {
	#urlLong {
		width: 65%;
	}
	.tweet q {
		font-size: 1.25rem;
		line-height: 1.6rem;
	}
	#frmGoUser span {
		display: block;
		clear: both;
	}
}

@media only screen and (max-width: 640px) {
	body {
		font-size: .95em;
	}
	#welcome {
		margin-top: -105px;
	}
	header img {
		width: 210px;
		height: 76px;
	}
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.5rem;
		padding: .75rem 0 .4rem;
	}
	h3 {
		font-size: 1.1rem;
		padding: .75rem 0 .4rem;
	}
	.quotedTweet h3 {
		margin-top: .4em;
	}
	#enterTweet {
		margin: .85rem 0;
		padding: 0.4rem 1rem;
	}
	#enterTweet h2 {
		font-size: 1.05rem;
	}
	.tweet q {
		font-size: 1.15rem;
		line-height: 1.5rem;
	}
	#navMain li a {
		padding: .1em .35em;
		margin-right: .1em;
	}
	#navTweet li a {
		margin-right: .25rem;
		padding: 0.4rem 0.5rem 0.2rem;
	}
	button,
	button.btnPost {
		padding: .3rem;
	}
	#profile dt,
	.twList dt {
		width: 35%;
	}
	#profile dd,
	.twList dd {
		width: 60%;
	}
	#editProfileUpdateBtn {
		margin-left: 35%;
	}
	#enterTweep {
		float: none;
	}
	#tweep,
	#query,
	#query2,
	#queryUsers { /* search inputs */
		width: 75%;
	}
	#txt_listName,
	#txt_listDesc {
		width: 85%;
	}
	#urlLong,
	#frmTweetImage input,
	#frmTweetImage textarea,
	#enterTweet textarea {
		width: 90%;
	}
	.editProfile #name,
	.editProfile #location {
		width: 99%;
	}
	.tweet .imgThumb img {
		max-width: 440px;
	}
}

/* RWD table */
@media only screen and (max-width: 480px) {
	table.table-rwd table,
	table.table-rwd thead,
	table.table-rwd tbody,
	table.table-rwd tr {
		width: 100%;
	}
	table.table-rwd td,
	table.table-rwd th {
		display: block;
		border: none;
		position: relative;
	}
	table.table-rwd th {
		margin-top: .75em;
	}
	table.table-rwd td {
		margin-bottom: 0;
	}
	table.table-rwd thead tr {
		display: none;
	}
	table.table-rwd tr {
		border: 1px solid #ccc;
	}

	.tweet .imgThumb img {
		max-width: 270px;
	}
}

@media only screen and (max-width: 440px) {
	#welcome {
		margin-bottom: 1em;
		margin-top: 0;
		float: none;
		padding: .25em .5em;
	}
}

@media only screen and (max-width: 320px) {
	#profileContainer {
		padding-top: 40px;
	}
	.tweet .imgThumb img {
		max-width: 240px;
	}
	.tooltip {
		font-size: .75rem;
		line-height: 1.2;
	}
}
