@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-pencil, .icon-wrench, .icon-list, .icon-remove, .icon-lock, .icon-cancel-circle, .icon-loop, .icon-loop-2, .icon-cog, .icon-star, .icon-star-2, .icon-reply, .icon-flag, .icon-envelop, .icon-user, .icon-redo, .icon-bubbles, .icon-heart, .icon-heart-2, .icon-quotes-left, .icon-spinner, .icon-spinner-2, .icon-clock, .icon-loop-3, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-feed, .icon-user-2, .icon-menu, .icon-home, .icon-image, .icon-undo {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-pencil:before {
	content: "\e000";
}
.icon-wrench:before {
	content: "\e001";
}
.icon-list:before {
	content: "\e002";
}
.icon-remove:before {
	content: "\e003";
}
.icon-lock:before {
	content: "\e004";
}
.icon-cancel-circle:before {
	content: "\e005";
}
.icon-loop:before {
	content: "\e006";
}
.icon-loop-2:before {
	content: "\e007";
}
.icon-cog:before {
	content: "\e008";
}
.icon-star:before {
	content: "\e009";
}
.icon-star-2:before {
	content: "\e00a";
}
.icon-reply:before {
	content: "\e00b";
}
.icon-flag:before {
	content: "\e00c";
}
.icon-envelop:before {
	content: "\e00d";
}
.icon-user:before {
	content: "\e00e";
}
.icon-redo:before {
	content: "\e00f";
}
.icon-bubbles:before {
	content: "\e010";
}
.icon-heart:before {
	content: "\e011";
}
.icon-heart-2:before {
	content: "\e012";
}
.icon-quotes-left:before {
	content: "\e013";
}
.icon-spinner:before {
	content: "\e014";
}
.icon-spinner-2:before {
	content: "\e015";
}
.icon-clock:before {
	content: "\e016";
}
.icon-loop-3:before {
	content: "\e017";
}
.icon-twitter:before {
	content: "\e018";
}
.icon-twitter-2:before {
	content: "\e019";
}
.icon-twitter-3:before {
	content: "\e01a";
}
.icon-feed:before {
	content: "\e01b";
}
.icon-user-2:before {
	content: "\e01c";
}
.icon-menu:before {
	content: "\e01d";
}
.icon-home:before {
	content: "\e01e";
}
.icon-image:before {
	content: "\e01f";
}
.icon-undo:before {
	content: "\e020";
}
